body {
  margin: 0;
  padding: 0;
  max-width: 1668px;
  margin: 0 auto;
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;

}



.element {
  float: left;
  margin: 30px;
  width: 350px;
  height: auto;
  padding: 0px;
  background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.element p {
  margin: 0;
  line-height: 40px;
  word-wrap: break-word;
}

.information {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  padding: 10px;
  width: 350px;
  height: 220px;
}

.teamimg{
  width: 100%;
  height: auto;
}
