{% extends "base.html" %}
{% block main %}

<div class="container">
  <div class="container1">

  </div>

  <div class="container2">
    <div class="lab-table table1">
      <div class="lab-header">
        <div class="lab">Assignment 1</div>
      </div>
      <ul class="lab-list">
        <li><strong>Topic</strong>: Relational Algebra and MySQL </li>
        <div class="border"></div>
        <li><strong>Weight</strong>: 15%</li>
        <div class="border"></div>
        <li><strong>Due date: Part 1.</strong> Wednesday Feb. 1, 11.59pm, Submit to MarkUs</li>
        <div class="border"></div>
        <li><strong>Due date: Part 2 and 3.</strong> For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59
        </li>
      </ul>
      <a href="lab.pdf">Assignment 1 Handout</a>
    </div>

    <div class="lab-table table2">
      <div class="lab-header">
        <div class="lab">Assignment 2</div>
      </div>
      <ul class="lab-list">
        <li><strong>Topic</strong>: HTML, CSS, PHP</li>
        <div class="border"></div>
        <li><strong>Weight</strong>: 15%</li>
        <div class="border"></div>
        <li><strong>Due date: Part 1.</strong> Friday March. 10, 11.59pm, Submit to MarkUs</li>
        <div class="border"></div>
        <li><strong>Due date: Part 2.</strong> Friday March. 19, 11.59pm, Submit to MarkUs </li>
      </ul>
      <a href="lab.pdf">Assignment 2 Handout</a>
    </div>

    <div class="lab-table table3">
      <div class="lab-header">
        <div class="lab">Assignment 3</div>
      </div>
      <ul class="lab-list">
        <li><strong>Topic</strong>: Web Application and Database</li>
        <div class="border"></div>
        <li><strong>Weight</strong>: 15%</li>
        <div class="border"></div>
        <li><strong>Due date:</strong> Friday March 31, 11.59pm</li>
      </ul>
      <a href="#">Tutorial Material for Lab 3</a>
    </div>
  </div>

</div>
{% endblock %}