{% extends "base.html" %}
{% block main %}

<div class="container">
  <div class="container1">
    <div class="lab-table table1">
      <div class="lab-header">
        <div class="lab">Lab 1</div>
      </div>
      <ul class="lab-list">
        <li><strong>Introduction</strong> </li>
      </ul>
      <a href="/static/lab.pdf">Tutorial Material for Lab 1</a>
    </div>

    <div class="lab-table table2">
      <div class="lab-header">
        <div class="lab">Lab 2</div>
      </div>
      <ul class="lab-list">
        <li><strong>Relational Algebra</strong>
      </ul>
      <a href="/static/lab.pdf">Tutorial Material for Lab 2</a>
    </div>

    <div class="lab-table table3">
      <div class="lab-header">
        <div class="lab">Lab 3</div>
      </div>
      <ul class="lab-list">
        <li><strong>Wrapping up Relational Algebra</strong></li>
        <div class="border"></div>
        <li><strong>Starting with SQL queries</strong> </li>
      </ul>
      <a href="/static/lab.pdf">Tutorial Material for Lab 3</a>
    </div>

    <div class="lab-table table4">
      <div class="lab-header">
        <div class="lab">Lab 4</div>
      </div>
      <ul class="lab-list">
        <li><strong>SQL queries</strong></li>
      </ul>
      <a href="#">Tutorial Material for Lab 4</a>
    </div>

    <div class="lab-table table5">
      <div class="lab-header">
        <div class="lab">Lab 5</div>
      </div>
      <ul class="lab-list">
        <li><strong>Introduction to Web development</strong></li>
      </ul>
      <a href="#">Tutorial Material for Lab 5</a>
    </div>
  </div>

  <div class="container2">
    <div class="lab-table table6">
      <div class="lab-header">
        <div class="lab">Lab 6</div>
      </div>
      <ul class="lab-list">
        <li><strong>Midterm</strong></li>
      </ul>
      <a href="#">Tutorial Material for Lab 6</a>
    </div>

    <div class="lab-table table7">
      <div class="lab-header">
        <div class="lab">Lab 7</div>
      </div>
      <ul class="lab-list">
        <li><strong>No lab due to reading week</strong></li>
      </ul>
    </div>

    <div class="lab-table table8">
      <div class="lab-header">
        <div class="lab">Lab 8</div>
      </div>
      <ul class="lab-list">
        <li><strong>Introduction to HTML and CSS</strong></li>
      </ul>
      <a href="#">Tutorial Material for Lab 8</a>
    </div>

    <div class="lab-table table9">
      <div class="lab-header">
        <div class="lab">Lab 9</div>
      </div>
      <ul class="lab-list">
        <li><strong>Flexbox in CSS, Media Queries</strong></li>
        <div class="border"></div>
        <li><strong>Introduction to JavaScript</strong> </li>
      </ul>
      <a href="#">Tutorial Material for Lab 9</a>
    </div>

    <div class="lab-table table10">
      <div class="lab-header">
        <div class="lab">Lab 10</div>
      </div>
      <ul class="lab-list">
        <li><strong>Javascript and introduction to JQuery</strong></li>
      </ul>
      <a href="#">Tutorial Material for Lab 10</a>
    </div>

  </div>

</div>

{% endblock %}