{% extends "base.html" %}
{% block main %}

	<h1>Course Team</h1>
	<br>
	<div class="contanier">
		<div class="first-box">
			<div class="element" id="prof">
				<img class="teamimg" src="/static/abbas.jpg">
				<div class="information">
					<p>Instructor: Abbas Attarwala</p>
					<p>Email: Abbas.Attatwala@utoronto.ca</p>
					<p>Office IC:349</p>
					<p>Office Hours: Monday 9:00a.m-11:00a.m</p>
					<br>
					<br>

				</div>
			</div>

			<div class="element">
				<img class="teamimg"src="/static/brown.png">
				<div class="information" id="ta1">
					<p>TA: Vidya Ananda</p>
					<p>Email: Vidya.Ananda@mail.utoronto.ca</p>
					<p>Office Hour: TBA</p>
					<p>Office: BV473</p>
				</div>
			</div>

			<div class="element">
				<img class="teamimg" src="/static/brown.png">
				<div class="information" id="ta2">
					<p>TA: Brian Lam</p>
					<p>Email: Brian.Lam@mail.utoronto.ca</p>
					<p>Office Hour: TBA</p>
					<p>Office: BV473</p>
					<br>
					<br>
				</div>
			</div>
		</div>

		<div class="second-box">

			<div class="element">
				<img class="teamimg"src="/static/brown.png">
				<div class="information" id="ta3">
					<p>TA: Dharmik Shah</p>
					<p>Email: Dharmik Shah@mail.utoronto.ca</p>
					<p>Office Hour: TBA</p>
					<p>Office: BV473</p>
					<br>
					<br>
				</div>
			</div>

			<div class="element">
				<img class="teamimg"src="/static/brown.png">
				<div class="information" id="ta4">
					<p>TA: Frederic Pun</p>
					<p>Email: Frederic.Pun@mail.utoronto.ca</p>
					<p>Office Hour: TBA</p>
					<p>Office: BV473</p>
					<br>
					<br>
				</div>
			</div>

			<div class="element">
				<img class="teamimg"src="/static/brown.png">
				<div class="information" id="ta5">
					<p>TA: Kevin Zhang</p>
					<p>Email: Kevin.Zhang@mail.utoronto.ca</p>
					<p>Office Hour: TBA</p>
					<p>Office: BV473</p>
				</div>
			</div>
		</div>
		<div class="third-box">

			<div class="element">
				<img class="teamimg"src="/static/brown.png">
				<div class="information" id="ta6">
					<p>TA: Sakina Shabbir</p>
					<p>Email: Sakina.Shabbir@mail.utoronto.ca</p>
					<p>Office Hour: TBA</p>
					<p>Office: BV473</p>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
